.product__price_stock {
  margin: 0;
  color: #8D9295;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
}

.product__price_stock::after {
  content: " \20BD";
}