.product__price_normal {
  margin: 0;
  margin-right: 10px;
}

.product__price_normal::after{
  content: " \20BD";
}

@media screen and (max-width: 650px) {
  .product__price_normal {
    margin-right: 16px;
  }
}