.swiper {
  margin: 0;
  width: 1400px;
}

@media screen and (max-width: 1200px) {
  .swiper {
    margin: 0 25px;
  }
}

@media screen and (max-width: 650px) {
  .swiper {
    margin: 0;
    width: 260px;
  }
}