.product__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: 1px solid #ECF0F4;
  border-radius: 5px;
}


@media screen and (max-width: 500px) {
  .product__counter {
    display: none;
  }
}