.product__title {
  max-width: 284px;
  height: 40px;
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .product__title {
    width: 220px;
    height: 44px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
  }
}