.product__cart-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 174px;
  width: 100%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  background-color: #F1D264;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1375px) {
  .product__cart-add-btn {
    margin: 0 auto;
    width: 220px;
    color: #000;
  }
}