.product__image {
  height: 334px;
  width: 334px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .product__image {
    height: 260px;
    width: 260px;
  }
}