.swiper-button-left {
  margin-right: 46px;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/left_arrow.svg);
}

@media screen and (max-width: 500px) {
  .swiper-button-left {
    display: none;
  }
}